{% extends 'main/layout2.html' %}
{% load static %}
<!doctype html>
<html lang="en">
{% block title %}Избранное{% endblock %}
{% block content%}
    <link rel="stylesheet" href="{% static 'main/css/myvis.css' %}">
    <h1 id="h1">Мечты на карте</h1>
    <h1 id="h1vis">избранное</h1>
    <div id="rectangleul">
        <h3 id="ulcont">список избранных стран</h3>
        <ul id="myvisits">
            <li></li>
        </ul>
    </div>
    <img src="static/main/img/worldmap.png" id="wmap">
    <div id="rectanglepick"><h2 id="pick"><a href="/">Выбрать</a></h2></div>
{% endblock%}