{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content%}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <h1 id="h1">Мечты на карте</h1>
    <img src="static/main/img/worldmap.png" id="wmap">
    <div id="rectanglepick"><h2 id="pick">Выбрать</h2></div>
    <p id="par">Открой Мир с помощью нашего сайта.<br> Здесь ты сможешь отмечать страны, которые уже посетил, или страны - мечты!</p>
{% endblock %}